{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h2> Welcome {{ request.user.get_full_name|default:request.user.username }}</h2>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
<hr>
<div class="card">
    <div class="card-body">
        <h4>Enterprise AI Dashboard</h4>
        <p>
            Login successful.
        </p>
        <a href="{% url 'documents:upload' %}" class="btn btn-primary">Upload Documents</a>
        <a href="{% url 'chat:chat' %}" class="btn btn-success">Chat</a>
    </div>
</div>

{% endblock %}